button{
    padding: 10px;
    border: none;
    background-color: #6e6baf;
    border-radius: 10px;
    height: fit-content;
    font-size: 16px;
    color: white;
}
button:hover{
    cursor: pointer;
    opacity: 0.8;
}