.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 150px
}
.flex_wrap{
    display: flex;
    width: 20%;
    justify-content: space-between;
}