.registration_wrap{
    max-width: 500px;
    margin: 0 auto;
}
.registration_input_input{

}
.registration_input_input{
    margin-bottom: 20px;

}
.submit_btn{
    margin: 0 auto;
    display: block;
}